<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
  	<listener class-name="Utilities.ExtentReportManager" />
  </listeners>
 
  <test thread-count="5" name="Test">
   <parameter name="browser" value="chrome"/>
    <classes>
    <class name="CASPROJECT.BasePage"/>
    <class name="CASPROJECT.TC01"/>
    <class name="CASPROJECT.TC02"/>
    <class name="CASPROJECT.TC03"/>
    <class name="CASPROJECT.TC04"/>
    <class name="CASPROJECT.TC05"/>
    <class name="CASPROJECT.TC06"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
